@model tofi2018.Models.UsersCreditsModel

@{
    ViewBag.Title = "Index";
}

<h2>All Users Credits</h2>

@foreach (var user in Model.AllCredits)
{
    <h3>@user.Key</h3>

    foreach (var credit in user.Value)
    {
        <h3>Passport</h3>

        <div>
            @credit.PassportFile

            &nbsp;

            @Html.ActionLink(
                      "Download File",
                      "DownloadFile",
                      new { fileName = credit.PassportFile })
        </div>

        <h3>Salary Certificate</h3>

        <div>
            @credit.SalaryCertFile

            &nbsp;

            @Html.ActionLink(
                      "Download File",
                      "DownloadFile",
                      "File",
                      null,
                      new { fileName = credit.SalaryCertFile })
        </div>
    }
}