@using tofi2018.Models;

@model tofi2018.Models.UsersCreditsModel

@{
    ViewBag.Title = "Index";
}

<h2>All Users Credits</h2>

@foreach (var user in Model.AllCredits)
{
    <hr>

    <h3>@user.Key</h3>

    foreach (var credit in user.Value)
    {
        <hr>

        <h5>@credit.FirstName @credit.LastName</h5>

        <div style="color: #0971ad">@String.Concat("$", credit.Sum) for @credit.Months months</div>

        if (credit.Status == Status.Pending)
        {
            <div style="color: #0971ad; font-weight: bold">Pending for Approval</div>

            @Html.ActionLink(
                                     "Approve",
                                     "Approve",
                                     routeValues: new { creditId = credit.CreditID })

            @:&nbsp;

            @Html.ActionLink(
                                     "Reject",
                                     "Reject",
                                     routeValues: new { creditId = credit.CreditID })
        }
        else if (credit.Status == Status.Approved)
        {
            <div style="color: #008f13; font-weight: bold">Approved</div>
        }
        else if (credit.Status == Status.Rejected)
        {
            <div style="color: #ff0000; font-weight: bold">Rejected</div>
        }

        <h5>Passport</h5>

        <div>
            @Path.GetFileName(credit.PassportFile)

            &nbsp;

            @Html.ActionLink(
                                     "Download",
                                     "DownloadFile",
                                     "File",
                                     routeValues: new { fileName = credit.PassportFile },
                                     htmlAttributes: null)
        </div>

        <h5>Salary Certificate</h5>

        <div>
            @Path.GetFileName(credit.SalaryCertFile)

            &nbsp;

            @Html.ActionLink(
                                     "Download",
                                     "DownloadFile",
                                     "File",
                                     routeValues: new { fileName = credit.SalaryCertFile },
                                     htmlAttributes: null)
        </div>
    }
}